// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)
$primary: #272f59;
$seconday: #f2f2f2;
$fifth: #d9d9d9;
$nav-link-hover-color: #8b8b8c;
$nav-link-color: #ffffff;
$nav-tabs-link-active-color: #8b8b8c;
$nav-link-font-size: 24px;
$nav-link-padding-y: 0.5rem;
$nav-link-padding-x: 1rem;
$nav-link-font-weight: null;
$nav-link-transition: color 0.15s ease-in-out,
  background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
$nav-link-disabled-color: #8b8b8c;
$nav-link-focus-box-shadow: #8b8b8c;
$nav-underline-link-active-color: #8b8b8c;

@import "../node_modules/bootstrap/scss/bootstrap.scss"; // Then add additional custom code here
.bg-body-primary {
  --bs-bg-opacity: 1;
}
* {
  -webkit-user-select: none; /* Safaso and IE 11 */
  user-select: none; /* Standard syntax */
}
body {
  margin: 0;
  padding: 0;
  /* Hide the img tag from accessibility tools and screen readers */
}
img {
  user-drag: none;
  user-select: none;
}

.nav-container {
  overflow: hidden;
}
header {
  width: 100%;
  height: 739px;
}
.bg-img {
  width: 100%;
  height: 100%;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.hero {
  position: relative;
  overflow: hidden;
}
.container,
.container-fluid,
.container-xxl,
.container-xl,
.container-lg,
.container-md,
.container-sm {
  overflow: hidden;
}
.contact {
  padding-bottom: 1em;
  .mb-3 {
    font-weight: bold;
    padding-bottom: 1.25em;
    padding-top: 1.25em;
  }
}
.navbar-brand {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.modal-body {
  .nav {
    display: flex;
    align-items: end;
    flex-direction: column;
    .nav-link {
      color: #2a2a2c;
    }
  }
}
.modal {
  overflow: hidden;
}
.modal-dialog {
  display: grid;
  justify-content: end;
  margin-top: 0;
  margin-right: 0;
  height: 100%;
  .modal-content {
    background-color: #d9d9d95e;
  }
}

h1 {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding-bottom: 1.5em;
  padding-left: 1em;
  font-weight: bold;
}
h1::after {
  content: " ";
  position: absolute;
  z-index: 3;
  bottom: 25%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: black;
}
.content {
  section {
    padding-bottom: 10em;
    padding-top: 10em;
  }
}
.nav {
  display: none;
}
.linkedin-logo {
  height: 50px;
  padding: 8px;
  cursor: pointer;
}
.hiddenText {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateX(-100%);
  transition: all 1s;
}
.showText {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}
.hiddenTextV {
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
  transform: translateY(50%);
  transition: all 1s;
}
.showTextV {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0%);
}
.title-box {
  animation: titleAnimation 1s ease-in-out;
  position: absolute;
  top: 60%;
  display: grid;
  width: 100vw;
  text-align: center;
  font-size: 40px;
  justify-items: center;
  font-weight: bold;
}
.title {
  padding: 1em;
  background-color: #d9d9d979;
  display: grid;
  border-radius: 10px;
  width: 50%;
  align-items: center;
}
.about {
  display: flex;
  justify-items: space-between;
  justify-content: space-between;
  img {
    padding: 5em;
    border-radius: 100%;
  }
}
.about-info {
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 24px;
  border-left: rgba(136, 134, 134, 0.418) solid 1px;
  border-right: rgba(136, 134, 134, 0.418) solid 1px;
  strong {
    font-size: 40px;
  }
}
.work-container {
  display: grid;
  justify-items: center;
}
.work-experience {
  height: 1000px;
  position: relative;
  .card-container {
    position: absolute;
    top: 25%;
    width: 100%;
    justify-content: space-around;
    overflow: hidden;
    .card {
      width: 300px;
      align-items: center;
      h2,
      h4 {
        text-align: center;
        padding: 0.5em;
      }
      .card-body {
        padding-top: 16px;
        width: 300px;
      }
      .card-text {
        padding-top: 0.5em;
      }
      p {
        border-top: rgba(136, 134, 134, 0.418) solid 1px;
      }
      img {
        width: 150px;
      }
    }
  }
  .bg-image-2 {
    width: 100%;
    height: 100%;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
  }
}
.education-card {
  overflow: hidden;
}
.dateContainer {
  display: flex;

  p {
    padding-right: 0.5em;
  }
}
.background-education {
  color: $seconday;
  background-color: $primary;
  height: 100%;
}
.graduation-icon {
  display: flex;
  padding-bottom: 1rem;
  img {
    height: fit-content;
    padding-right: 1em;
    padding-bottom: 1em;
  }
}
.education-detail {
  p {
    margin: 0;
    padding: 0.5em;
    border-bottom: #8b8b8c solid 1px;
  }
}
.submit-btn {
  width: 100%;
  display: grid;
  justify-content: center;
}
.btn {
  width: 150px;
  border: none;
  background-color: grey;
}
.btn:hover {
  background-color: black;
}
nav {
  background-color: #222b4754;
}
footer {
  background-color: #272f59;
}

.modal-backdrop {
  z-index: 0;
}
@media screen and (max-width: 1300px) {
  .work-experience {
    height: 1500px;
    .bg-image-2 {
      height: 1500px;
    }
    .card-container {
      top: 200px;
      align-items: center;
      flex-direction: column;
      .card {
        width: 400px;
        margin-bottom: 1em;
      }
    }
  }
}
.validation-box {
  display: none;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 4px;
}
h4 {
  font-size: 20px;
  width: 200px;
}
/* Styling for the success message */
.validation-box.success {
  color: #155724;
  background-color: #d4edda;
  border: 1px solid #c3e6cb;
}

/* Styling for the error message */
.validation-box.error {
  color: #721c24;
  text-align: center;
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  p {
    margin: 0;
    padding: 1rem;
  }
}

/* Styling for the close button */
.validation-box .close-btn {
  cursor: pointer;
  float: right;
  font-weight: bold;
}
@media screen and (max-width: 400px) {
  .work-experience .card-container .card {
    width: 300px;

    .card-body {
      width: 200px;
    }
  }
}
@media screen and (max-width: 1400px) {
  .title-box {
    position: absolute;
    top: 45%;
    display: grid;
    width: 100vw;
    text-align: center;
    font-size: 40px;
    justify-items: center;
    font-weight: bold;
  }

  .title {
    background-color: #d9d9d979;
    display: grid;
    border-radius: 10px;
    width: fit-content;
    align-items: center;
  }
  .about-info {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-size: 24px;
    border-top: rgba(136, 134, 134, 0.418) solid 1px;
    border-bottom: rgba(136, 134, 134, 0.418) solid 1px;
    border-left: none;
    border-right: none;
    strong {
      font-size: 40px;
    }
  }
  .about {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-size: 20px;
    }
    img {
      padding: 5em;
      width: 400px;
      border-radius: 100%;
    }
  }
}

@keyframes titleAnimation {
  0% {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0%);
  }
}
